body,
html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    /* Для скрытия содержания элемента, которое выходит за его область */
}

.wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.canvas {
    width: 100%;
    height: 100%;
    background: #000;
}

/* ANIMATION TEXT */

.ml7 {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    font-weight: 900;
    font-size: 3.7em;
    z-index: 2;
}

.ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.3em;
    padding-bottom: 0.2em;
    overflow: hidden;
    float: right;
    font-family: Verdana;
}

.ml7 .letter {
    transform-origin: 0 100%; /* Устанавливает координаты точки, относительно которой будет происходить трансформация элемента */     display: inline-block;
    line-height: 1em;
}

/* MENU */
.modal {
    position: fixed;
    text-transform: uppercase;
    font-family: Verdana;
    width: 500px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

.button {
    border: 2px solid grey;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px 0;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s;
}

.button:hover {
    border-radius: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url(img/road.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
