body,
html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;  /* Для скрытия содержания элемента, которое выходит за его область */
}

.wrapper {
    width: 100%;
    height: 100%;
}

.canvas {
    width: 100%;
    height: 100%;
    background: #000;
}